@import url('https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&display=swap');

/* GENERALES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Noticia Text', serif;
    font-size: 20px;   
}

.header {
    align-items: center;
    box-shadow: 0px 4px 12px -5px rgba(0,0,0,0.85);
    background-color: #ecb4b4ff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    border-radius: 35px;
    width: 100px;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

/* PAGINA PRINCIPAL */
.hero {
    background: url("imagenes/background.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    width: 100%;
}

.bienvenida{
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 400px;
    background: rgba(0,0,0, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column-reverse;
    color: white;
}

.separacion {
    width: 50%;
    height: 3px;
    background-color: white;
    border: none;
    margin-top: 5px;
}

.welcomeTienda {
    font-size: 16px;
    margin-top: 20px;
}

.galeriaProductos {
    margin: 0 auto;
    width: 95%;
}

.flexboxWrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
    flex: 1 1 70%;
}

.modelo {
    flex: 1 1 30%;
}

.modeloPrincipal {
    flex: 1 1 30%;
}

.imgModeloPrincipal {
    height: 650px;
    border-radius: 15px;

}

.imgModelo {
    border-radius: 15px;
    margin: 10px;
    height: 300px;
    width: 300px;
}

.titleModelo {
    font-size: 16px;
    text-align: center;
}
.conectar,
.precioModelo {
    border: 1px solid #999999;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

.modelo .flexbox {
    justify-content: space-around;
}

.titulo {
    font-size: 50px;
    margin: 20px 0;
    text-align: center;
}

.enlaces {
    margin: 10px;
    cursor: pointer;
}

.enlaces:hover {
    color: #999;
}

.info-container {
    margin-top: 50px;
    text-align: center;
    background: #ecb4b4ff;
}

.info-imagen{    
    object-fit: cover;
    margin: 30px auto;
}

/* PAGINA CONFIRMACION DE COMPRA */

.contenedorCompra{
    text-align: center;
}

.modelo .flexbox {
    justify-content: center;
    margin: 20px 0;
}

/* PAGINA DEL VALIDADOR */

.tituloValidador {
    font-size: 50px;
    margin: 20px 0;
    text-align: center;
}

.contenedorValidador {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
    width: 90%;
}

.tarjeta {
	max-width: 100%;
	width: 550px;
	position: relative;
	color: #fff;
	transition: .3s ease all;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	cursor: pointer;
	z-index: 2;
}
.tarjeta.active {
    transform: rotateY(180deg);
}

/* Para acceder a la parte delantera y parte trasera de la tarjeta */
.tarjeta > div {
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(90, 116, 148, .3);
    display: flex;
    flex-direction: column;
    /* Darle espacio a los elementos dentro de la tarjeta */
    justify-content: space-between;
    min-height: 315px;
    padding: 30px;
    width: 100%;
}

/* busca la clase tarjeta y dentro de ella el div con la clase delantera */
.tarjeta .delantera {
	width: 100%;
	background: url(imagenes/fondoTarjeta.jpg);
	background-size: cover;

}

.delantera .logoMarca {
    text-align: right;
    min-height: 50px;
}

.logoMarca img{
    height: 100%;
    /* PARA RECORTAR LA IMAGEN DE FORMA QUE NO SE VEA FEA */
    object-fit: cover;
    max-width: 80px;
    width: 100%;
}

.chipTarjeta {
    margin-bottom: 20px;
    max-width: 50px;
    width: 100%;
}

.informacionTarjeta {
    color: #7d8994;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.informaciontTarjetaUsuario{
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
}

.flexbox {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.trasera {
    background-image: url(imagenes/fondoTarjeta.jpg);
    background-size: cover;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
}

.trasera .barraMagnetica {
    height: 40px;
    background-color: gray;
    top: 30px;
    position: absolute;
    left: 0;
    width: 100%;
}

.datosDentroDeLaTarjeta {
    margin-top: 60px;
}

.contenedorBarraFirma {
    width: 70%;
}

.firma {
    background: repeating-linear-gradient(skyblue 0, skyblue 5px, gray 5px,gray 10px);
    color: black;
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 30px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    text-transform: capitalize;
}

.ccvContenedor {
    width: 20%;
}

.ccv {
    background-color: white;
    padding: 10px;
    text-align: center;
}

.leyenda {
    color: gray;
    font-size: 14px;
    line-height: 24px;
}

.linkBanco {
    color: white;
    font-size: 14px;
}

.formulario {
 background-color: #ecb4b4ff;
 border-radius: 10px;
 padding: 100px 40px 40px;  
 max-width: 100%; 
 position: relative;
 top: -80px;
 width: 700px;
}

.formularioInformacion {
    border: 2px solid #ced6e0;
    font-size: 18px;
    height: 50px;
    padding: 5px 12px;
    transition: .3s ease all;
    width: 100%;
    margin-bottom: 20px;
}

.formularioInformacion:hover,
.formularioInformacion:hover,
.inputCcv:hover    {
    border: 2px solid #93BDED;
}

.formularioInformacion:focus,
.formularioInformacion:focus,
.inputCcv:focus {
   outline: rgb(4,4,4);
   box-shadow: 1px 7px 10px -5px rgba(90, 116, 148, .3);
}

.expira {
    width: 100%;
}

.cvv {
    min-width: 100px;
}

.grupoSelect {
    margin-right: 15px;
    position: relative;
    width: 100%;
}

.grupoSelect:hover {
    color: #93bfed; 
}

.grupoSelect i {
    position: absolute;
    /* color: #CED6E0; */
	top: 18px;
	right: 10px;
    transition: .3s ease all;
    z-index: 3;
}

select {
    -webkit-appearance: none; 
}

.grupoSelect i:hover {
	color: #93bfed;
}


.inputCcv {
    height: 40px;
    margin: 10px 0;
}

.button {
    border: none;
    padding: 10px;
    font-size: 22px;
    color: #fff;
    background-color: #000;
    box-shadow: 2px 2px 10px 0px rgba(0, 85, 212, .4);
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color:#999;
}

.modal {
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    padding: 100px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: none;
    text-align: center;
}

.modal-content {
  background-color: white;
  margin: auto;
  border: 1px solid #999;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4),0 6px 20px 0 rgba(0,0,0,0.19);
  /* -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s; */
}

/* @-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
} */

.close {
  color: white;
  font-size: 28px;
}

.close:hover,
.close:focus {
  color: #000;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color:#999;
  color: white;
}