@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Anonymous Pro', monospace;
}

.header {
    align-items: center;
    box-shadow: 0px 4px 12px -5px rgba(0,0,0,0.85);
    background-color: #ecb4b4ff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    border-radius: 35px;
    width: 100px;
}

.hero {
    background: linear-gradient(rgba(0,0,0, .5)0%, rgba(0,0,0, .5) 100%), url("imagenes/background.jpeg");
    background-size: cover;
    background-position: bottom;
    min-height: 700px;
}

.tituloPrincipal {
    color: white;
    font-size: 50px;
}

.flexboxPrincipal {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.tituloValidador {
    font-size: 50px;
    margin: 20px 0;
    text-align: center;
}

.contenedorValidador {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
    width: 90%;
}

.tarjeta {
	max-width: 100%;
	width: 550px;
	position: relative;
	color: #fff;
	transition: .3s ease all;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	cursor: pointer;
	z-index: 2;
}
.tarjeta.active {
    transform: rotateY(180deg);
}

/* Para acceder a la parte delantera y parte trasera de la tarjeta */
.tarjeta > div {
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(90, 116, 148, .3);
    display: flex;
    flex-direction: column;
    /* Darle espacio a los elementos dentro de la tarjeta */
    justify-content: space-between;
    min-height: 315px;
    padding: 30px;
    width: 100%;
}

/* busca la clase tarjeta y dentro de ella el div con la clase delantera */
.tarjeta .delantera {
	width: 100%;
	background: url(imagenes/fondoTarjeta.jpg);
	background-size: cover;

}

.delantera .logoMarca {
    text-align: right;
    min-height: 50px;
}

.logoMarca img{
    height: 100%;
    /* PARA RECORTAR LA IMAGEN DE FORMA QUE NO SE VEA FEA */
    object-fit: cover;
    max-width: 80px;
    width: 100%;
}

.chipTarjeta {
    margin-bottom: 20px;
    max-width: 50px;
    width: 100%;
}

.informacionTarjeta {
    color: #7d8994;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.informaciontTarjetaUsuario{
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
}

.flexbox {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.trasera {
    background-image: url(imagenes/fondoTarjeta.jpg);
    background-size: cover;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
}

.trasera .barraMagnetica {
    height: 40px;
    background-color: gray;
    top: 30px;
    position: absolute;
    left: 0;
    width: 100%;
}

.datosDentroDeLaTarjeta {
    margin-top: 60px;
}

.contenedorBarraFirma {
    width: 70%;
}

.firma {
    background: repeating-linear-gradient(skyblue 0, skyblue 5px, gray 5px,gray 10px);
    color: black;
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 30px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    text-transform: capitalize;
}

.ccvContenedor {
    width: 20%;
}

.ccv {
    background-color: white;
    padding: 10px;
    text-align: center;
}

.leyenda {
    color: gray;
    font-size: 14px;
    line-height: 24px;
}

.linkBanco {
    color: white;
    font-size: 14px;
}

.formulario {
 background-color: #ecb4b4ff;
 border-radius: 10px;
 padding: 100px 40px 40px;  
 max-width: 100%; 
 position: relative;
 top: -80px;
 width: 700px;
}

.formularioInformacion {
    border: 2px solid #ced6e0;
    font-size: 18px;
    height: 50px;
    padding: 5px 12px;
    transition: .3s ease all;
    width: 100%;
    margin-bottom: 20px;
}

.formularioInformacion:hover,
.formularioInformacion:hover,
.inputCcv:hover    {
    border: 2px solid #93BDED;
}

.formularioInformacion:focus,
.formularioInformacion:focus,
.inputCcv:focus {
   outline: rgb(4,4,4);
   box-shadow: 1px 7px 10px -5px rgba(90, 116, 148, .3);
}

.expira {
    width: 100%;
}

.cvv {
    min-width: 100px;
}

.grupoSelect {
    margin-right: 15px;
    position: relative;
    width: 100%;
}

.grupoSelect:hover {
    color: #93bfed; 
}

.grupoSelect i {
    position: absolute;
    /* color: #CED6E0; */
	top: 18px;
	right: 10px;
    transition: .3s ease all;
    z-index: 3;
}

select {
    -webkit-appearance: none; 
}

.grupoSelect i:hover {
	color: #93bfed;
}


.inputCcv {
    height: 40px;
    margin: 10px 0;
}

.button {
    border: none;
    padding: 10px;
    font-size: 22px;
    color: #fff;
    background-color: #999999;
    box-shadow: 2px 2px 10px 0px rgba(0, 85, 212, .4);
    cursor: pointer;
    width: 100%;
}
/* 
.button:hover {
    background: #1850b1;

} */

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}